body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

}
.heading{
color: rgb(29, 221, 29);
font-weight: 700;
}

.container{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5%;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.head{
    width: 500px;
    height: 100px;
    background-color:azure;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding-inline: 8px;
    box-sizing: border-box;
    gap: 8px;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.3)
}

.add{
    width: 70px;
    height: 37px;
    border-radius: 8px;
    background-color:blueviolet;
    color: white;
    font-size: 18px;
    display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}

.img:hover {
    background-color: red;
    border-radius: 5px;
}

.img{
    width: 57px;
    display: none;
    cursor: pointer;
    color: red;
}
.input{
    width: 82%;
    margin-right: 7px;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 97%;
    font-size: 21px;
    font-weight: 600;
    font-family: sans-serif;
    /* background-color: aqua; */
    align-items: center;
    padding: 0 5px;
    border-bottom: 0.5px solid gray;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.3)
}

.input input{
    width: 100%;
    height: 33px;
    border-radius: 6px;
    font-size: 17px;
    outline: none;
}

.body{
    width: 500px;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: azure;
    border-radius: 5px;
}

.name-input input{
    width: 300px;
    height: 35px;
    outline: none;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 24px;
}
button{
    width: 100px;
    height: 30px;
text-align: center;
padding: 3px 8px;
border-radius: 4px;
color: white;
background-color: blueviolet;
font-size: 14px;
margin-top: 10px;
font-weight: 600;
cursor: pointer;
}
.welcome{
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp3701541.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
    top: 0;
    overflow-y: hidden;
    padding-left: 7%;
    box-sizing: border-box;
}

/*  media quaries */

@media screen and (max-width:564px){


.head{
width: 95%;
}
.body{
width: 95%;
}


}